.logo {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}


.exportedIcon {
  display: none;
background-color: #272626;
  @media (min-width: 600px) {
    display: flex;
  }

  margin-right: 8px;
}